.animate-box {
   
    animation: moveBox 6s linear infinite;
}
@keyframes moveBox{
    0%{
        transform: rotate(30deg);
    }
    100%{
        transform: rotate(200deg);
    }
}

.animate-plane{
    animation: movePlane 6.2s linear infinite;
}
@keyframes movePlane {
    0%{
        transform: rotate(0deg);
    }
    
    100%{
        transform: rotate(-20deg);
    }
}